@model kudvenkat.ViewModels.HomeDetailsViewModel

@{ 
  ViewBag.Title = "Employee Details";
}

<h1>@ViewBag.PageTitle</h1>
@{
	var employee = ViewBag.Employee;
}
<div>
	Name: @Model.Employee.Name
</div>
<div>
	Email: @Model.Employee.Email
</div>
<div>
	Department: @Model.Employee.Department
</div>

@section Scripts
{
	<script src="~/js/CustomScript.js"></script>
}
